//basic button styles

.btn{
  @include rest_a;
  @include padding-linear(2%);
  width: $respweb;
  background-color: gold;
  color: black;
  font-weight: bold;
  display: block;
  margin-top: 2rem;
  text-align: center;
  transition: color 2s;
  transition: background 2s;

  &:hover{
    background-color: $secondary_gray;
    color:$header_main_white;
  }
}