//desktop styles for navigation

  nav {
    background-position-y: 53.5rem;
    width: 100%!important;
    padding: 0!important;
    .wrapper{
      width: 100%!important;
      padding: 0!important;
    }
    ul {
      flex-direction:row;
      padding: 1%;
    }
    li{
      margin-right: 1.5rem;
    }
  }
