//basic import styles
//@import "typo/typo";
@import "mixins/mixins";
@import "variables/vars";
@import "layout/layout";
@import "footer/footer";
@import "nav/nav";
@import "content-field/main-content";
@import "buttons/buttons";
@import "homepage/homepage";


//desktop styles
@media screen and (min-width: 1005px){
  @import "nav/desktop";
  @import "homepage/desktop";
  @import "layout/desktop";
  @import "buttons/desktop";
  @import "content-field/desktop";

}

//tablet styles
@media screen and (min-width: 460px){
  @import "homepage/tablet";
  @import "content-field/tablet";
}

//print styles
@media print{
  @import "print/print";
}


body {
  font-family: 'Roboto', sans-serif;

}