//desktop styles for homepage

.welcomer-fe{
  margin-top: 10rem;
  line-height: 3.5rem;

  a:first-of-type{
    @include uppercase;
    font-size: 4.8rem;
    margin-bottom: 1rem;
  }
  a:last-of-type{
    font-size: 3rem;
  }

}