//desktop styles for main containers
.bozp {
  background-position-y: -20rem;
}
.po {
  background-position-y: 22rem;
}
.stavb {
  background-position-y: -28rem;
}
.vzv {
  background-position-y: 17rem;
}